@import "../GlobalStyles/globalStyles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: $font-family;
  overflow: hidden;
}

.wrapper {
  //   width: 98%;
  margin: 0 auto;
  height: inherit;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3px;

  .container-navigation {
    background: $secondary-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container-logo {
      img {
        // background: red;
        opacity: 0.2;
        width: 23rem;
        margin-bottom: 5rem;
        margin-top: 70px;
        margin-left: -10rem;
      }
    }

    .nav {
      margin-top: 5rem;
      .nav-list {
        display: flex;

        .nav-item {
          &:hover {
            background: $primary-color;
            transition: 400ms ease;
          }
          .nav-link {
            display: block;
            padding: 5px 10px;
            color: $gray-color;

            color: $white-color;
          }
        }
      }
    }
  }

  .container-login {
    // background: #000;

    .container-login-image {
      display: none;
    }
    .container-login-form {
      //   margin-left: 25%;
      margin-top: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .login-form-title {
        font-size: $font-size-4;
        font-weight: $font-weight-5;
        margin-bottom: $font-size-5;
        text-align: center;
      }

      form {
        // background: #000;
        // width: 100%;
        width: 25rem;
        padding: 10px;

        input {
          width: 100%;
          padding: 10px 5px;
          margin-bottom: 10px;
          outline: none;
          border-radius: $border-raduis-3;
          border: 1px solid $secondary-color;
          color: $primary-color;
        }
        input[type="text"]:focus,
        input[type="password"]:focus {
          border: 3px solid $secondary-color;
        }

        .login-form-btn {
          margin-top: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          button {
            padding: 5px 15px;
            background: $secondary-color;
            color: $white-color;
            border-style: none;
            font-size: $font-size-7;
            border-radius: $border-raduis-3;
            cursor: pointer;
            // text-transform: uppercase;
            &:hover {
              transform: scale(1.1);
            }
          }

          a {
            color: $secondary-color;

            &:hover {
              color: red;
            }
          }
        }
      }
    }

    .login-nav {
      display: none;
    }
  }
}

@media only screen and (max-width: 780px) {
  .container {
    grid-template-columns: 1fr;
    .container-navigation {
      display: none;
    }
    .container-login {
      //   background: #000;
      //   width: 99%;

      .container-login-image {
        display: block;
        width: 20%;
        height: 20%;
        margin: 3rem auto 0 auto;
        img {
          width: 80%;
        }
      }

      .container-login-form {
        margin-top: 10%;
        .login-form-title {
          text-align: center;
          font-size: $font-size-5;
        }
      }

      .login-nav {
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background: $secondary-color;
        align-items: center;
        justify-content: center;
        padding: 10px 30px;

        .login-nav-list {
          display: flex;

          .login-nav-item {
            &:hover {
              background: $primary-color;
              transition: 400ms ease;
            }
            .login-nav-link {
              padding: 5px 15px;
              color: $white-color;

              &:hover {
                color: $white-color;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .container {
    .container-login-form {
      form {
        width: 80% !important;
      }
    }
  }
}
